@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
    background-color: #f3f4f6;
    color: #1f2937;
}

.dark body {
    background-color: #111827;
    /* gray-900 */
    color: #f9fafb;
    /* gray-50 */
}